{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": ["^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
